Elina Akhundzhanova, Egor Bulavko, Gusarov Aleksandr

Подключаем библиотеки

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import Lasso
from sklearn.model_selection import train_test_split
from scipy import integrate
from sklearn.model_selection import KFold

Расчёт модели (без регуляризации)

In [ ]:
def ols(X, Y):
    return np.linalg.inv(X.T @ X) @ X.T @ Y

KFold (нужен выбор параметра M)

In [ ]:
kf = KFold(n_splits=10, shuffle=True, random_state=123)

loss_m = []
for m in range(2, M + 2):
    loss_k = []
    for train_index, test_index in kf.split(F_train):
        Fk_train, Fk_test = F_train[train_index], F_train[test_index]
        yk_train, yk_test = y_train[train_index], y_train[test_index]
        reg = ols(Fk_train[:, :m], yk_train)      
        loss_k.append(np.mean((Fk_test[:, :m] @ reg - yk_test) ** 2))
    loss_m.append(np.mean(loss_k))

plt.plot(loss_m)
plt.xlabel('M', fontsize=14)
plt.ylabel('CV loss', fontsize=14)
plt.xticks(np.arange(M), np.arange(1, M + 1), fontsize=14)
plt.tick_params(axis='both', which='major', labelsize=14)
plt.show()

Load

In [18]:
def ocean (str):
    if str == 'INLAND' :
        return 100
    if str == '<1H OCEAN' :
        return 10
    return 1
    
test = pd.read_csv('housing_test.csv')
train = pd.read_csv('housing_train.csv')
train.dropna()
train['ocean_distance'] = train['ocean_proximity'].apply(ocean)
train

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,ocean_distance
0,-116.46,33.82,6.0,4863.0,920.0,3010.0,828.0,3.9508,104200.0,INLAND,100
1,-117.04,34.00,21.0,4624.0,852.0,2174.0,812.0,3.5255,132100.0,INLAND,100
2,-121.03,37.55,32.0,946.0,198.0,624.0,173.0,1.9728,97900.0,INLAND,100
3,-117.80,33.68,8.0,2032.0,349.0,862.0,340.0,6.9133,274100.0,<1H OCEAN,10
4,-122.26,37.83,52.0,1656.0,420.0,718.0,382.0,2.6768,182300.0,NEAR BAY,1
...,...,...,...,...,...,...,...,...,...,...,...
14443,-118.10,33.91,36.0,726.0,NaN,490.0,130.0,3.6389,167600.0,<1H OCEAN,10
14444,-117.24,33.37,14.0,4687.0,793.0,2436.0,779.0,4.5391,180900.0,<1H OCEAN,10
14445,-121.76,37.33,5.0,4153.0,719.0,2435.0,697.0,5.6306,286200.0,<1H OCEAN,10
14446,-122.44,37.78,44.0,1545.0,334.0,561.0,326.0,3.8750,412500.0,NEAR BAY,1
14447,-119.08,36.21,20.0,1911.0,389.0,1241.0,348.0,2.5156,59300.0,INLAND,100